#root {
  width: 1300px;
  background-color: #34feb4;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.fa-home {
  font-size: 24px;
}

nav {
  background-color: black;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header {
  background-color: white;
}

.mainLogo {
  height: 6rem;
}

.mainLogo:hover {
  animation-name: shake;
  animation-duration: 1s;
}

.redirectTwirl {
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 250px;
}

@keyframes shake {
  25% {
    transform: rotate(10deg);
    transform-origin: bottom;
  }

  50% {
    transform: rotate(-10deg);
    transform-origin: bottom;
  }
  75% {
    transform: rotate(10deg);
    transform-origin: bottom;
  }
}

.loader {
  animation-name: twirl;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20rem;
}

@keyframes twirl {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainLogoTxt {
  height: 5rem;
}

.RecipeContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.RecipeCard {
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  color: black !important;
  width: min-content;
  height: 28rem;
  box-shadow: 5px 5px;
  position: relative;
}

.RecipeCard h3 {
  font-size: 18px;
  width: 90%;
  margin-left: 10px;
  text-align: center;
}

.favIcon {
  width: auto;
  background-color: #ff5f1f;
  color: white;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.favIcon:checked {
  color: black;
}

.RecipeCard .favIcon {
  position: absolute;
  top: 0%;
  right: -8%;
  transform: translate(-90%, -10%);
  -ms-transform: translate(-10%, -10%);
}

.RecipeCard h4 {
  /* width: 75%; */
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

.footerBox {
  background-color: #ff5f1f;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: medium;
}

.footerText {
  display: flex;
  flex-direction: column;
}
.RecipeImage {
  border: solid black;
}

.footerImg {
  max-width: 100%;
  max-height: 90%;
  margin: 50px;
}

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  color: #ff5f1f;
}

.homePageImg {
  box-shadow: 5px 5px black;
  width: 40%;
  height: 40%;
}

.linkButton {
  background-color: #fe347e;
  color: white;
  font-weight: bolder;
  justify-items: flex-end;
  align-self: center;
  border-radius: 10px;
  width: 6rem;
  padding: 10px;
}

.linkButton:hover {
  background-color: black;
}

.recipeCard {
  background-color: azure;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* width: 50%; */
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  width: 70%;
  box-shadow: 5px 5px;
}
